.p{
	all:unset
}

.default {
	background-color: aquamarine;
}

.start {
	display: flex;
	flex-direction: column;
}

.nav {
	display: flex;
}

.result {
	display: flex;
}

.flex-item {
	flex-grow: 1;
}

.blue {
	background-color: rgb(103, 178, 244);
}

.red {
	background-color: rgb(234, 69, 69);
}

.green {
	background-color: rgb(74, 179, 74);
}

.black {
	background-color: rgb(72, 70, 70);
}

.font-blue {
	font: rgb(103, 244, 171);
	font-size: large;
	justify-content: center;
	align-items: center;
}

.font-red {
	font: rgb(69, 102, 234);
	font-size: large;
	justify-content: center;
	align-items: center;
}

.font-green {
	font: rgb(135, 179, 74);
	font-size: large;
	justify-content: center;
	align-items: center;
}

.font-black {
	font: rgb(70, 72, 72);
	font-size: large;
	justify-content: center;
	align-items: center;
}

/* live chat */

.chat_wrap {
	width: 100%;
	list-style: none;
}

.chat_wrap .header {
	font-size: 14px;
	padding: 15px 0;
	background: #F18C7E;
	color: white;
	text-align: center;
}

.chat_wrap .chat {
	display: flex;
	flex-direction: column;
}

.chat_wrap .chat .sender{
	justify-content: end;
}

.talking_to {
	display: grid;
	grid-template-columns: 1fr 4fr 5fr;
	/* flex-wrap: wrap;
	flex-direction: row;
	word-break: break-all; */
	border: 1px solid #888;
	padding: 10px;
	color: #555;
}

.talking_to .name-format {
	font-size: larger;
	font: bolder;
}

.talking_to .chat-box {
	width: 100%;
	word-break: break-all;
	border: 1px solid #888;
	padding: 10px;
	color: black;
}

.sender {
	display: grid;
	grid-template-columns: 5fr 4fr 1fr;
	justify-content: end;
	border: 1px solid #888;
	padding: 10px;
	color: #555;
}

.sender .chat-box .name-format {
	display: grid;
	justify-content: end;
	font-size: larger;
	font: bolder;
}

.sender .chat-box .chat-format{
	text-align: end;
}

.sender .chat-box {
	display: grid;
	justify-content: end;
	width: 100%;
	word-break: break-all;
	border: 1px solid #888;
	padding: 10px;
	color: black;
}

.chat_wrap .input-div {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
	text-align: center;
	border-top: 1px solid #F18C7E;
}

.chat_wrap .input-div>textarea {
	width: 100%;
	height: 80px;
	border: none;
	padding: 10px;
}

.chat-room {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	
}

.chat-room-button {
	all:unset;
}

.chat-room-individual
{
	display: grid;
	grid-template-columns: 1fr 14fr;
	font: bold;
	color: #888;
	border:1px solid rgb(110, 108, 108);
	background-color: rgb(254, 254, 254);
	height: 80px;
}

.input-profile {
	display: flex;
	justify-content: center;
	align-items: center;

}

.input-profile>img {
	display: grid;
	height: 80px;
	border-radius: 50%;
	border:1px solid rgba(110, 108, 108, 0.652);
}

.chat-room-individual .input-info {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.chat-room-individual .input-info>div {
	box-sizing: border-box;
	border:1px solid rgb(110, 108, 108);
}

.chat-room-individual .input-info .name {
	font: bolder;
	color: black;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}

.chat-room-individual .input-info .word {
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}