html,
body,
button {
	all:unset;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: white;
}

html {
	width: 100%;
	height: 100%;
}

.p{
	all:unset
}

.default {
	background-color: aquamarine;
}

.start {
	display: flex;
	height: 100%;
}

.nav {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	/* z-index: 1; */
	/* left: 0; */
}

.result {
	display: grid;
	padding-top: 48px;
	grid-template-rows: 8fr 1fr;
	width: 100%;
	height: 100%;
}

.flex-item {
	flex-grow: 1;
}

/* live chat */

.text-area {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* height: 100%; */
}

.chat_wrap {
	height: 100%;
	width: 100%;
	/* list-style: none; */
	overflow-y: scroll;
}

.chat_wrap .header {
	font-size: 14px;
	padding: 15px 0;
	background: #F18C7E;
	color: white;
	text-align: center;
}

.chat_wrap .chat {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}

.chat_wrap .chat .sender{
	justify-content: end;
}

.talking_to {
	display: grid;
	grid-template-columns: 5fr 5fr;
	/* flex-wrap: wrap;
	flex-direction: row;
	word-break: break-all; */
	/* border: 1px solid #888; */
	padding: 10px;
	color: #555;
}

.talking_to .name-format {
	font-size: larger;
	font: bolder;
	padding-bottom: 2px;
}

.chat-message-box {
	display: flex;

}

.talking_to .chat-box {
	width: 100%;
	word-break: break-all;
	border-top: #555;
	/* border: 1px solid #888; */
	padding: 10px;
	color: black;
}

.talking_to .chat-box .chat-format {
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

.sender {
	display: grid;
	grid-template-columns: 5fr 5fr;
	justify-content: end;
	/* border: 1px solid #888; */
	padding: 10px;
	color: #555;
}

.sender .chat-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	word-break: break-all;
	border-top: #555;
	padding: 10px;
	color: black;
}

.sender .chat-box .name-format {
	width: 100%;
	text-align: end;
	font-size: larger;
	font: bolder;
	padding-bottom: 2px;
}

.sender .chat-box .chat-format{
	text-align: end;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

.chat-option {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	height: 50px;
	background-color: rgb(108, 191, 227);
	position: fixed;
	margin-top: 2px;
}

.chat-option>button {
	font-size: xx-large;
	font: bold;
}


.chat_wrap .input-div {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
	text-align: center;
	border-top: 1px solid #F18C7E;
}

.chat_wrap .input-div>textarea {
	width: 100%;
	height: 80px;
	border: none;
	padding: 10px;
}

.chat-room {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	text-align: center;

}

.chat-room-button {
	all:unset;
}

.chat-room-individual
{
	display: grid;
	grid-template-columns: 1fr 14fr;
	font: bold;
	color: #888;
	/* border:1px solid rgb(110, 108, 108); */
	background-color: rgb(254, 254, 254);
	height: 80px;
}

.input-profile {
	display: flex;
	justify-content: center;
	align-items: center;

}

.input-profile>img {
	display: grid;
	height: 80px;
	border-radius: 50%;
	/* border:1px solid rgba(110, 108, 108, 0.652); */
}

.chat-room-individual .input-info {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.chat-room-individual .input-info>div {
	box-sizing: border-box;
	/* border:1px solid rgb(110, 108, 108); */
}

.chat-room-individual .input-info .name {
	font: bolder;
	color: black;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}

.chat-room-individual .input-info .word {
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}




.blue {
	background-color: rgb(103, 178, 244);
}

.red {
	background-color: rgb(234, 69, 69);
}

.green {
	background-color: rgb(137, 237, 137);
}

.black {
	background-color: rgb(72, 70, 70);
}

.font-blue {
	font: rgb(103, 244, 171);
	font-size: large;
	justify-content: center;
	align-items: center;
}

.font-red {
	font: rgb(69, 102, 234);
	font-size: large;
	justify-content: center;
	align-items: center;
}

.font-green {
	font: rgb(135, 179, 74);
	font-size: large;
	justify-content: center;
	align-items: center;
}

.font-black {
	font: rgb(70, 72, 72);
	font-size: large;
	justify-content: center;
	align-items: center;
}
